<!-- <div class="panel panel-default">
  <div class="panel-body">
    <div class="row text-center">
      <div class="col-md-4">
        <div class="trophy bronze">
          <i class="fa fa-trophy"></i>
        </div>
      </div>
      <div class="col-md-4">
        <div class="trophy gold">
          <i class="fa fa-trophy"></i>
        </div>
      </div>
      <div class="col-md-4">
        <div class="trophy silver">
          <i class="fa fa-trophy"></i>
        </div>
      </div>
    </div>
    <div class="stickman">

    </div>
    <div class="trophies">
    <span class="trophy">
      3
      <h4>USERNAME</h4>
    </span>
    <span class="trophy">
      1
      <h4>USERNAME</h4>
    </span>
    <span class="trophy">
      2
      <h4>USERNAME</h4>
    </span>
  </div>
    <hr>
    <div class="row text-center">
      <h1>All the others...</h1>
      <div class="col-md-1">
        <img src="images/team_styler.jpeg" class="img-thumbnail img-circle" alt="" / tooltip='StylerDev'>
      </div>
      <div class="col-md-1">
        <img src="images/team_styler.jpeg" class="img-thumbnail img-circle" alt="" />
      </div>
      <div class="col-md-1">
        <img src="images/team_styler.jpeg" class="img-thumbnail img-circle" alt="" />
      </div>
      <div class="col-md-1">
        <img src="images/team_styler.jpeg" class="img-thumbnail img-circle" alt="" />
      </div>
      <div class="col-md-1">
        <img src="images/team_styler.jpeg" class="img-thumbnail img-circle" alt="" />
      </div>
      <div class="col-md-1">
        <img src="images/team_styler.jpeg" class="img-thumbnail img-circle" alt="" />
      </div>
      <div class="col-md-1">
        <img src="images/team_styler.jpeg" class="img-thumbnail img-circle" alt="" />
      </div>
      <div class="col-md-1">
        <img src="images/team_styler.jpeg" class="img-thumbnail img-circle" alt="" />
      </div>
      <div class="col-md-1">
        <img src="images/team_styler.jpeg" class="img-thumbnail img-circle" alt="" />
      </div>
      <div class="col-md-1">
        <img src="images/team_styler.jpeg" class="img-thumbnail img-circle" alt="" />
      </div>
      <div class="col-md-1">
        <img src="images/team_styler.jpeg" class="img-thumbnail img-circle" alt="" />
      </div>
      <div class="col-md-1">
        <img src="images/team_styler.jpeg" class="img-thumbnail img-circle" alt="" />
      </div>
    </div>
    <div class="row text-center" style="padding-top: 15px">
      <div class="col-md-1">
        <img src="images/team_styler.jpeg" class="img-thumbnail img-circle" alt="" / tooltip='StylerDev'>
      </div>
      <div class="col-md-1">
        <img src="images/team_styler.jpeg" class="img-thumbnail img-circle" alt="" />
      </div>
      <div class="col-md-1">
        <img src="images/team_styler.jpeg" class="img-thumbnail img-circle" alt="" />
      </div>
      <div class="col-md-1">
        <img src="images/team_styler.jpeg" class="img-thumbnail img-circle" alt="" />
      </div>
      <div class="col-md-1">
        <img src="images/team_styler.jpeg" class="img-thumbnail img-circle" alt="" />
      </div>
      <div class="col-md-1">
        <img src="images/team_styler.jpeg" class="img-thumbnail img-circle" alt="" />
      </div>
      <div class="col-md-1">
        <img src="images/team_styler.jpeg" class="img-thumbnail img-circle" alt="" />
      </div>
      <div class="col-md-1">
        <img src="images/team_styler.jpeg" class="img-thumbnail img-circle" alt="" />
      </div>
      <div class="col-md-1">
        <img src="images/team_styler.jpeg" class="img-thumbnail img-circle" alt="" />
      </div>
      <div class="col-md-1">
        <img src="images/team_styler.jpeg" class="img-thumbnail img-circle" alt="" />
      </div>
      <div class="col-md-1">
        <img src="images/team_styler.jpeg" class="img-thumbnail img-circle" alt="" />
      </div>
      <div class="col-md-1">
        <img src="images/team_styler.jpeg" class="img-thumbnail img-circle" alt="" />
      </div>
    </div>
  </div>
</div> -->
